:root{
    --red:red;
    --yellow:#ffff00;
    --green:green;
    --white:white;
    --orange:orange;
}
/* ----------body------------------------- */
body, h2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,rgb(116, 113, 113),rgb(53,52,52));

}
/* -------------Landing page--------------- */

.landing{
    background-image:url(/chilliii.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--white);
}
/* --------------Link Decoration-------------*/
header a{
    text-decoration: none;
    color: var(--yellow);
}
/* ----------header display------------------ */

header{
    display: flex;
    padding: 10px;
}

#logo{
    flex: 3;
    font-size: 1.25em;
}

nav{
    flex: 2;
    display: flex;
}

nav a{
    flex: 2;
}

nav a:hover{
    color:var(--green);
}
header i,nav a i{
    margin-right: .5em;
}
/*----------Maintext----------------------------------------*/
.maintext{
    display:flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    padding: 2em;
}
.tagline1{
    color: var(--orange);
    font-size: 2.5em;
    font-weight: bold;
}
.tagline2{
    color: var(--yellow);
}

.maintext div{
    margin-top:.75em;
}
.maintext button{
    width: 20vw;
    margin-top:2em ;
    border-radius: 10px;
    padding: .7em;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}
/* ------------------------Menu-------------------------------- */

.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    background: linear-gradient(to right,rgb(116, 113, 113),rgb(53,52,52));
    color: var(--white);
}

#menuheading,#locationheading{
    background: linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
    font-size: 2.5em;
    color: var(--red);
    display: flex;
    justify-content: center;
}
.menu th{
    color: var(--yellow);
    font-size: 1.8em;

}
table{
    width: 100%;
    padding:1em;
}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.menu td:nth-child(1){
    flex: 1;
    justify-self: left;

}
.menu td:nth-child(2){
    justify-self: left;
}
.location{
    /* background: linear-gradient(to right,rgb(116, 113, 113),rgb(53,52,52)); */
    color: var(--white);
    box-shadow:5px 5px 15px gray ;
    background-image: url(/img_spicy.webp);    
    border-width: 5px 5px 5px 5px;
    padding: 0px 0px 10px 0px;
    margin: 70px;
    margin-top: 30px;
    font-weight: bold;

}
#locationheading{
    color: var(--red);
    margin-bottom: .8em;
    text-align: center;

}
.location address{
    padding: 10px;
    display: grid;
    justify-content: center;
    color: var(--yellow);
}